body {
  text-align: center;
}

header {
  background: #404041;
  padding: 2% 2%;
  height: 100%;
  margin-bottom: 5%;
}

h1 {
  display: inline-block;
  font-size: 4vh;
  padding: 0% 0.2%;
}

div {
  margin-bottom: 2%;
}

.below-header {
  margin-left: 5%;
  margin-right: 5%;
}

.btn {
  background-color: #D0D2D3;
  color: #FFFFFF;
  font-size: 75%;
  border-radius: 12px;
  width: 33%;
  margin-left: 2%;
  margin-right: 2%;
}

.btn:hover {
  background-color: #EB008B;
}

.logo-number {
  color: #ED458B
}

.logo-guesser {
  color: #E6E7E8
}

.game-response-section {
  color: #404041;
  font-size: 3vh;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.gameResponse {
  padding: 1% 1%;
  margin-left: 6%;
  margin-right: 6%;
}

#guessDisplay {
  color: #EB008B;
  font-size: 13vh;
  height: 20%;
  margin-left: 5%;
  margin-right: 5%;
}

#guessInput {
  text-align: center;
  font-size: 3vh;
  margin-bottom: 3%;
  border: 1px solid #D0D2D3;
  width: 70%;
}

#guessInput:focus {outline: 1px solid #ED458B;}

#reset {
  width: 70%;
}
